/* Reset and Base Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #333;
    line-height: 1.6;
    scroll-behavior: smooth;
}

/* Navbar */
header {
    background: #0056b3;
    color: #fff;
    padding: 1rem;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

header nav ul li {
    margin: 0 1.5rem;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s;
}

header nav ul li a:hover {
    color: #ffdd57;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .comp-name{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .comp-name img{
    border-radius: 50%;
    width: 80px;
    margin-right: 1rem;
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.8); /* Adjusted to a blue glow */
}

.comp-logo-name{
    font-size: 2rem;
}

/* Hero Section */
.hero {
    background: url('./images/wallpaper4.jpg') center/cover no-repeat fixed;
    background-size: cover; /* Ensure the image covers the entire section */
    color: #fff;
    height: 82vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.hero .overlay {
    background: rgba(0, 0, 0, 0.6);
    padding: 2.5rem;
    text-align: center;
    border-radius: 10px;
    max-width: 500px;
    animation: fadeIn 1.5s ease;
    box-shadow: 0 0 20px rgba(0, 121, 252, 0.8); /* Adding a blue box shadow */
}

/* .hero .overlay {
    background: linear-gradient(
        rgba(0, 0, 0, 0.6), 
        rgba(0, 0, 135, 0.4)
    );
    padding: 2.5rem;
    text-align: center;
    border-radius: 10px;
    max-width: 500px;
    animation: fadeIn 1.5s ease;
} */

.hero h2 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.btn-primary {
    padding: 0.75rem 1.5rem;
    background: #ffdd57;
    color: #333;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s;
}

.btn-primary:hover {
    background-color: #ffbf00;
}

.company-name {
    color: #1e90ff; 
}

/* About Us Section */
#about {
    background-color: #f9f9f9;
    padding: 4rem 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 1200px;
    margin: 2rem auto;
    text-align: center;
}

#about h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    color: #003f8a;
}

.about-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}

.about-content {
    flex: 1;
    min-width: 300px;
    max-width: 600px;
    text-align: left;
}

.about-content p {
    margin-bottom: 1.5rem;
    color: #333;
    line-height: 1.6;
    font-size: 1.1rem;
}

.about-content .highlight {
    font-weight: bold;
    /* color: #007bff; */
    color: #4169e1;
    font-size: 1.2rem;
}

.about-image {
    flex: 1;
    min-width: 300px;
    max-width: 600px;
    text-align: center;
}

.about-image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}             












/* Sections */
.section {
    padding: 4rem 2rem;
    text-align: center;
    margin-bottom: 2rem;
}

.fade-in {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeIn 1.2s ease forwards;
    animation-delay: 0.5s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Filter Buttons for Product Section */
.filter-buttons {
    text-align: center;
    margin-bottom: 1.5rem;
}

.filter-buttons button {
    background-color: #0056b3;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    margin: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.filter-buttons button:hover {
    background-color: #003f8a;
}

/* General Section Styling */
.section {
    padding: 4rem 2rem;
    text-align: center;
    background-color: #f8f9fa;
}

/* Product Grid Styling */
.product-grid {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    margin-top: 2rem;
}

#products h2{
    font-size: 2.5rem;
    color: #003f8a;
}

.product-item {
    padding: 1rem;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.product-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.product-item img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 0.75rem;
}

.product-item p {
    font-size: 1rem;
    font-weight: bold;
    color: #333;
    margin: 0;
}


/* Contact Form */


form {
    max-width: 600px;
    margin: 0 auto;
    text-align: left;
}

.form-group {
    position: relative;
    margin-bottom: 1.5rem;
}

form input, form textarea {
    width: 100%;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s, box-shadow 0.3s;
    font-size: 1rem;
    background-color: #f9f9f9;
}

form input:focus, form textarea:focus {
    /* border-color: #0056b3; */
    border-color: #003f8a;
    box-shadow: 0 4px 8px rgba(0, 86, 179, 0.2);
}

label {
    position: absolute;
    left: 1rem;
    top: 1rem;
    color: #777;
    font-size: 1rem;
    pointer-events: none;
    transition: all 0.2s;
}

input:focus + label, input:not(:placeholder-shown) + label,
textarea:focus + label, textarea:not(:placeholder-shown) + label {
    top: -0.75rem;
    left: 0.9rem;
    font-size: 0.85rem;
    /* color: #0056b3; */
    color: #003f8a;
    background: #fff;
    padding: 0 0.3rem;
}

.tooltip {
    display: none;
    position: absolute;
    top: 3.5rem;
    left: 1rem;
    font-size: 0.85rem;
    color: #555;
}

.form-group:hover .tooltip {
    display: block;
}

.submit-btn {
    display: inline-block;
    width: 100%;
    padding: 1rem;
    /* background-color: #0056b3; */
    background-color: #003f8a;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    transition: background-color 0.3s, transform 0.2s;
}

.submit-btn:hover {
    /* background-color: #003f8a; */
    background-color: #0056b3;
    transform: scale(1.02);
}

#formMessage {
    margin-top: 1rem;
    font-size: 1rem;
    color: #28a745;
    display: none;
}




/* new contact form css */

#contact {
    background-color: #f9f9f9;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 1200px;
    margin: 2rem auto;
}

#contact h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: #003f8a;
    text-align: center;
}

.contact-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

#contactForm {
    flex: 1;
    min-width: 300px;
}

#contact .form-group {
    position: relative;
    margin-bottom: 1.5rem;
}

#contact .form-group input,
#contact .form-group textarea {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s;
}

#contact .form-group input:focus,
#contact .form-group textarea:focus {
    border-color: #003f8a;
}

#contact .form-group label {
    position: absolute;
    top: -1rem;
    left: 1rem;
    background-color: #f9f9f9;
    padding: 0 0.25rem;
    color: #003f8a;
    font-size: 0.875rem;
    transition: all 0.3s;
}

#contact .submit-btn {
    background-color: #003f8a;
    color: #fff;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#contact .submit-btn:hover {
    background-color: #0056b3;
}

#contact p {
    margin-top: 1.5rem;
    color: #333;
    text-align: center;
}

.map-container {
    flex: 1;
    min-width: 300px;
    text-align: center;
}

.map-container iframe {
    width: 100%;
    height: 450px;
    border: 0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact-info {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 1.5rem;
    color: #333;
    text-align: center;
}

.contact-info p {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.contact-info i {
    font-size: 1.5rem;
    color: #003f8a;
}






/* Error Message */
.form-error {
    border-color: #e74c3c !important;
    box-shadow: 0 4px 8px rgba(231, 76, 60, 0.2);
}

.form-error + label {
    color: #e74c3c;
}

#formMessage.error {
    color: #e74c3c;
}


/* Back to Top Button */
#topBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    background-color: #0056b3;
    color: white;
    border: none;
    /* padding: 0.5rem 1rem;
    border-radius: 5px; */
    padding: 15px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
    gap: 10px;
}

#topBtn:hover {
    background-color: #003f8a;
}


#whatsappButton {
    position: fixed;
    bottom: 20px;
    left: 20px;
    width: 60px;
    height: 60px;
    z-index: 1000;
}

#whatsappButton img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

#whatsappButton img:hover {
    transform: scale(1.1);
}




/* Footer */
footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
}

/* Keyframes */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
